.postUpload{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
}

.postUpload progress{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.imageUpload{
    margin-top: 5px;
    margin-bottom: 5px;
}